html {
    background-color: #141414;
    background-image: url("image.png");
    background-size: cover;
    height: 99%;
    width: 99vw;
    position: relative;
}

body {
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100vw;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    /* font-family: 'Comfortaa', cursive; */
    color: rgb(240, 240, 240);
    font-size: 80px;
    font-weight: 600;
    font-style: italic;
}

#title-guido:hover, .btn-no:hover,
#web-title-content:hover {
    color: #318ad3;
    cursor: pointer;
}

/* #new-title:hover {
    color: none!important;
} */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #318ad3;
}

p.description {
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}

span.tag-h1{
    font-family: 'IBM Plex Mono', monospace;
    color:  #318ad3;
    font-size: 40px;
    font-weight: 100;
    font-style:normal
}

span.tag-symbol-h1{
    font-family: 'IBM Plex Mono', monospace;
    color: #808080;
    font-size: 40px;
    font-weight: 100;
    font-style: normal;
}

span.tag-symbol-p{
    font-family: 'IBM Plex Mono', monospace;
    color: #808080;
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
}

span.tag-p{
    font-family: 'IBM Plex Mono', monospace;
    color:  #2a80c7;
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
}

i {
    font-size: 40px;
}

#creative-button {
    background-color: inherit;
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}

#creative-button:hover {
    cursor: pointer;
    color: rgb(202, 104, 69)
}

#bulb-button:hover {
    cursor: pointer;
    color: #aa4ccf;
}

#english-button:hover {
    cursor: pointer;
    color: #74c0ff;
}

#tecnologies:hover {
    color: rgb(50, 104, 54)
}

#web-dev:hover {
    /* color: rgb(207, 171, 54) */
    color: #74c0ff;
}

.cat {
    color: white;
}

.cat:nth-child(even){
    color: rgb(202, 104, 69);
}

.cat:nth-child(3n){
    color: #808080;
}

.cat:nth-child(6n){
    color: #202020;
}

.cat:nth-child(7n){
    color: #5c3a2b;
}

.cat:nth-child(14n){
    color: #2a80c7;
}


/* TECNOLOGIES ICONS */

#icon-react:hover, #icon-jquery:hover, #icon-js:hover, 
#icon-css:hover, #icon-python:hover, #icon-sql:hover, #icon-git:hover {
    cursor: pointer;
    color: rgb(50, 104, 54)
}

.react {
    color: #74c0ff;
    font-size: 60px;
}

.jquery {
    color: #318ad3;
    font-size: 60px;
}

.js {
    color: rgb(255, 252, 87);
    font-size: 60px;
}

.css {
    color: #3660eb;
    font-size: 60px;
}

.python {
    color: #318ad3;
    font-size: 60px;
}

.sql {
    color: rgb(202, 104, 69);
    font-size: 54px;
}

.git {
    color: rgb(197, 82, 40);
    font-size: 60px;
}

.react:hover, .jquery:hover, .js:hover, .css:hover, .python:hover, .sql:hover, .git:hover{
    color: rgb(50, 104, 54)
}

.fa-linkedin {
    font-size: 60px;
    color: #2a80c7;
}